<!-- introduction -->
<div>
  <h2 class="card">Introduction</h2>

  <p>
    Bash is a Unix shell and command language written by Brian Fox for the GNU
    Project as a free software replacement for the Bourne shell. First released
    in 1989, it has been used widely as the default login shell for most Linux
    distributions. It has been widely ported to various operating systems,
    including macOS, and is the default shell on most Android devices.
  </p>

  <div>
    <h2>Interactive Examples</h2>
    <p>Try running some Bash commands in the terminal below:</p>
    <div *ngFor="let example of examples">
      <h3
        style="
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: xx-large;
          display: flex;
          justify-content: center;
        "
      >
        {{ example.title }}
      </h3>

      <terminal [prompt]="example.code"></terminal>
      <!-- the excpected output -->
      <h3 style="display: block; margin-left: 5em" *ngIf="example.output">
        Normally you should expect an output that looks like this:
      </h3>
      <div *ngIf="example.output">
        <terminal [prompt]="example.output" [type]="'output'"></terminal>
      </div>
    </div>
  </div>

  <div>
    <h2>Videos and Screencasts</h2>
    <p>Check out these videos to learn more about Bash:</p>
    <div *ngFor="let video of videos">
      <h3>{{ video.title }}</h3>
      <video-player
        [videoUrl]="video.url"
        [videoTitle]="video.title"
      ></video-player>
    </div>
  </div>

  <div>
    <h2 class="card">Diagrams and Illustrations</h2>
    <p>Take a look at these diagrams to better understand how Bash works:</p>
    <div *ngFor="let diagram of diagrams">
      <h3>{{ diagram.title }}</h3>
      <img class="diagram" [src]="diagram.url" alt="{{ diagram.title }}" />
      <!-- <p>{{ diagram.description }}</p> -->
    </div>
  </div>

  <!-- if "quizzenabled" is true display content-->
  <div *ngIf="quizzenabled">
    <div class="quiz">
      <h2>Quizzes and Assessments</h2>
      <p>Test your knowledge of Bash with these quizzes:</p>
      <div *ngFor="let quiz of quizzes">
        <h3>{{ quiz.title }}</h3>
        <div *ngFor="let question of quiz.questions">
          <app-multichoicecomponent
            [question]="question"
            (answerSelected)="checkQuizAnswer($event, question)"
          >
          </app-multichoicecomponent>
        </div>
      </div>
    </div>
  </div>
  <!-- else display a button -->
  <div *ngIf="!quizzenabled">
    <button
      class="quiz-button"
      (click)="quizzenabled = true"
      style="display: block; margin-left: auto; margin-right: auto"
    >
      Enable Quizzes
    </button>
  </div>
</div>
