.card {
  background-color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.card p {
  font-size: 1.1em;
  line-height: 1.5;
}

/* Quizzes */
.card .quiz {
  margin-top: 1em;
}

.card .quiz h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.card .quiz label {
  font-size: 1em;
  cursor: pointer;
}

/* Interactive examples */
.card .terminal {
  background-color: #000;
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  font-family: "Courier New", Courier, monospace;
  margin-top: 1em;
}

/* Video and screencasts */
.card .video-player {
  margin-top: 1em;
}

.card .video-player h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* Diagrams and illustrations */
.card .diagram {
  margin-top: 1em;
  text-align: center;
}

.card .diagram img {
  max-width: 100%;
}

/* Code snippets */
.card .code-snippet {
  margin-top: 1em;
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 0.5em;
  font-family: "Courier New", Courier, monospace;
}

.card .code-snippet pre {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.5em 1em;
  margin: 0 1em;
  border-radius: 0.5em;
  transition: background-color 0.3s ease;
  background-color: rgb(144, 255, 227);
}

nav a:hover {
  background-color: #f5f5f5;
}
