<div class="container">
  <h1 class="card">Angular E-LEARNING APP</h1>

  <nav>
    <a routerLink="/docker" style="display: block">Docker</a>
    <a routerLink="/bash" style="display: block">Bash</a>
    <a routerLink="/python" style="display: block">Python</a>
  </nav>

  <router-outlet></router-outlet>

  <footer
    style="
      height: 200px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      vertical-align: bottom;
    "
  >
    <div class="container">
      <p>Copyright © {{ 2023 }} E-learning App</p>
      <p>Thanks for nothing</p>
    </div>
  </footer>
</div>
